# Standard Python ignores
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.venv/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
predykt/_version.py
# ML training artifacts
catboost_info/

# Coverage artifacts
.coverage
.coverage.*
htmlcov/
coverage.xml
